# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Expo
# =========================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# =========================
# Native (only if using Expo prebuild or bare workflow)
# =========================
/ios
/android

# =========================
# Build / Cache
# =========================
*.tsbuildinfo
.metro-health-check*
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Logs
# =========================
logs
*.log

# =========================
# Certificates / Keys (IMPORTANT)
# =========================
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# =========================
# Misc
# =========================
*.orig.*
app-example